.Art-Header{
    text-align: left;
    background-color: #cbd5e1;
    color: #020617;
    border: solid 2px black;
    border-radius: 10px;
    margin-bottom: 20px;
    padding: 10px;
    box-shadow: none;
}

.art-img{
    height: 95%;
    width: 80%;
    object-fit: cover;
    border-radius: 10px;
    border: 2px solid black;
}



    @media all and (max-width:480px){
        .Swiper-left{
          width: 480px; 
        } 
        
      }
    
      
    @media all and (max-width:768px){
        .Swiper-left{
          width: 768px; 
        } 
        
      }
