.Art-Header{
    text-align: left;
    background-color: #020617;
    border: solid 2px black;
    border-radius: 10px;
    margin-bottom: 20px;
    padding: 10px;
    box-shadow: 4px 4px 0px 0px  #34d399;
}

img{
    height: 500px;
    width: 500px;
    object-fit: cover;
    border-radius: 10px;
    border: 2px solid black;
}
