.Art-Header{
    text-align: left;
    background-color: #020617;
    border: solid 2px black;
    border-radius: 10px;
    margin-bottom: 20px;
    padding: 10px;
    box-shadow: 4px 4px 0px 0px  #34d399;
}

img{
    height: 500px;
    width: 500px;
    object-fit: cover;
    border-radius: 10px;
    border: 2px solid black;
}

.Art-container{
    --dot-bg: #0f172a ;
    --dot-color: #cbd5e1;
    --dot-size: 1px;
    --dot-space: 22px;
      background:
          linear-gradient(90deg, var(--dot-bg) calc(var(--dot-space) - var(--dot-size)), transparent 1%) center / var(--dot-space) var(--dot-space),
          linear-gradient(var(--dot-bg) calc(var(--dot-space) - var(--dot-size)), transparent 1%) center / var(--dot-space) var(--dot-space),
          var(--dot-color);
}