.hero-title{
    font-size: 50px;
}

.hero-name{
    font-size: 50px;
    color:  #34d399;
}

.hero-wrapper{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 50px 40px 50px 40px;
    margin-bottom: 200px;
    height: 600px;
    border-radius: 10px;
    /* From https://css.glass */
background: rgba(165, 180, 241, 0.10) !important;
border-radius: 16px;
box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
backdrop-filter: blur(3.1px);
-webkit-backdrop-filter: blur(3.1px);
border: 1px solid rgba(255, 255, 255, 0.3);
background-size: contain;
}


.hero-btn{
    padding: 10px 15px 10px 15px;
    border-radius: 6px;
    cursor: pointer;
    box-shadow: 4px 4px 0px 0px  #34d399;
}

button{
    font-family: Montserrat;
    font-weight: 600;
    font-size: larger;
    border: solid 2px;
    background-color: #cbd5e1;
}

button:hover{
    transform: translateY(2px);
}

.typewriter {
    width: 25ch;
    animation: typing 2s steps(22), blink .5s step-end infinite alternate;
    white-space: nowrap;
    overflow: hidden;
    border-right: 3px solid;
    font-family: monospace;
    font-size: 2em;
  }

.hidden-hero{
    display: none;
  }
  
  @keyframes typing {
    from {
      width: 0
    }
  }
      
  @keyframes blink {
    50% {
      border-color: transparent
    }
  }

  @media all and (max-width:480px){
    .hero-wrapper{
      position: relative;
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;
      align-items: flex-start;
      width: 100%;
      padding: 0px;
      margin: 0px;
      border-radius: 10px;
  }
  button{
    position: absolute;
    font-family: Montserrat;
    font-weight: 600;
    bottom: 15px;
    left: 15px;
    font-size: larger;
    border: solid 2px;
    background-color: #cbd5e1;
}
  .hero-h1{
    text-align: left;
    margin-left: 20px;
    font-size: x-large;
  }
  .hidden-hero{
    display: block;
    text-align: left;
    margin-left: 20px;
    font-size: x-large;
  }

  }

  @media all and (max-width:1028px) and (min-width:481px){
    .hero-wrapper{
      position: relative;
      text-align: left;
  }
  button{
    position: absolute;
    font-family: Montserrat;
    font-weight: 600;
    bottom: 15px;
    left: 15px;
    font-size: larger;
    border: solid 2px;
    background-color: #cbd5e1;
}
  }