.hero-title{
    font-size: 50px;
}

.hero-name{
    font-size: 60px;
    color:  #34d399;
}

.hero-wrapper{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 50px 40px 50px 40px;
}

.hero-btn{
    padding: 10px 15px 10px 15px;
    border-radius: 6px;
    cursor: pointer;
    box-shadow: 4px 4px 0px 0px  #34d399;
}

button{
    font-family: Montserrat;
    font-weight: 600;
    font-size: larger;
    border: solid 2px;
    background-color: #cbd5e1;
}

button:hover{
    transform: translateY(2px);
}
