.form-container{
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr;
        gap: 0px 0px;
        grid-auto-flow: row;
        padding: 20px;
      }
      
      .design { grid-area: 1 / 1 / 2 / 3; }
      
      .form-wrapper { grid-area: 1 / 2 / 2 / 3; }
      

.form-wrapper{
    display: flex;
    flex-direction: column;
    border: solid 2px black;
    padding: 20px;
    height: 300px;
}

.form{
    display: flex;
    flex-direction: column;
}

label{
    text-align: left;
}

input{
    margin-bottom: 10px;
}

textarea{
    margin-bottom: 10px;
    height: 200px;
}