.form-container{
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr;
        gap: 0px 0px;
        grid-auto-flow: row;
        padding: 20px;
        margin-top: 100px;
      }
      
      .design { grid-area: 1 / 1 / 2 / 3; }
      
      .form-wrapper { grid-area: 1 / 2 / 2 / 3; }
      

.form-wrapper{
    display: flex;
    flex-direction: column;
    border: solid 2px black;
    border-radius: 20px;
    padding: 20px;
    background-color: #cbd5e1;
    box-shadow: 4px 4px 0px 0px  #34d399;
}

.form{
    display: flex;
    flex-direction: column;
}

.form-header{
    text-align: left;
    color: #0f172a;
}

input{
    margin-bottom: 10px;
    height: 50px;
    border-radius: 10px;
    border: solid 2px black;
    background-color: #cbd5e1;
    box-shadow: 4px 4px 0px 0px  #34d399;
}

input:hover{
    border: solid 2px #34d399;
}

input::placeholder{
   font-size: larger;
}

textarea{
    margin-bottom: 10px;
    height: 200px;
    border-radius: 10px;
    border: solid 2px black;
    background-color: #cbd5e1;
    box-shadow: 4px 4px 0px 0px  #34d399;
}

.design{
    text-align: left;
}