nav{
    margin: 0 auto;
    padding: 2rem;
    margin-bottom: 20px;
    /* From https://css.glass */
background: rgba(255, 255, 255, 0.15);
border-radius: 16px;
box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
backdrop-filter: blur(6px);
-webkit-backdrop-filter: blur(6px);
border: 1px solid rgba(255, 255, 255, 0.3);
}

.nav-ul{
    display: flex;
    justify-content: center;
    list-style-type: none;
}

.nav-li{
    color: black;
    font-weight: 600;
    margin-left: 20px;
    margin-right: 20px;
    padding: 10px 15px 10px 15px;
    border: solid 2px black;
    background-color: #cbd5e1;
    border-radius: 6px;
    cursor: pointer;
    box-shadow: 4px 4px 0px 0px  #34d399;
}

.nav-li:hover{
    transform: translateY(2px);
}

a{
    text-decoration: none;
}

.sticky {
    position: sticky;
    top: 0;
    z-index: 98;
  }

  
  @media all and (max-width:480px){
    nav{
        position: fixed;
        bottom: 0;
        overflow: hidden;
        margin: 0 auto;
        margin-bottom: 20px;
        /* From https://css.glass */
    background: rgba(255, 255, 255, 0.15);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(6px);
    -webkit-backdrop-filter: blur(6px);
    border: 1px solid rgba(255, 255, 255, 0.3);
    }
    .nav-li{
        color: black;
        margin: 2px;
        padding: 5px 8px 5px 8px;
        font-weight: 600;
        border: solid 2px black;
        background-color: #cbd5e1;
        border-radius: 6px;
        cursor: pointer;
        box-shadow: 4px 4px 0px 0px  #34d399;
    }
    
    .nav-ul{
        padding: 0px 10px 0px 10px;
    }
  }
