#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

body{
  background-color: #0f172a;
  color: #cbd5e1;
  --dot-bg: #0f172a ;
  --dot-color: #cbd5e1;
  --dot-size: 1px;
  --dot-space: 22px;
    background:
        linear-gradient(90deg, var(--dot-bg) calc(var(--dot-space) - var(--dot-size)), transparent 1%) center / var(--dot-space) var(--dot-space),
        linear-gradient(var(--dot-bg) calc(var(--dot-space) - var(--dot-size)), transparent 1%) center / var(--dot-space) var(--dot-space),
        var(--dot-color);
        margin-bottom: 200px;
}

.hero-style{
  background: radial-gradient(
    1500px 1500px at 1195px bottom,
    #6366f1, #0f172a
  );
  border-radius: 10px;
}

.contact-bg{
  background: radial-gradient(
    1500px 1500px at 195px bottom,
    #6366f1, #0f172a
  ) !important;
  border-radius: 10px;
}