.edu-wrapper{
    padding: 40px 0px 40px 0px;
}

.swiper-container{
    padding: 10px;
    height: 500px;
}

.swiper{
    height: 500px;
}

.swiperSlide{
    display: flex !important;
    flex-direction: column;
    height: 400px !important;
    border: solid 2px black;
    border-radius: 10px;
    box-shadow: 4px 4px 0px 0px  #34d399;
    background-color: #cbd5e1;
    color: black;
    padding: 0px 0px 0px 20px;
}

.swiperSlide p{
    font-weight: 600;
    text-align: start;
}

.swiperSlide h1{

    text-align: start;
}

.swiperSlide h2{

    text-align: start;
}

.action{
    padding: 10px;
    display: flex;
    background-color: #020617;
    border: solid 2px black;
    border-radius: 10px;
    width: 600px;
    margin-bottom: 20px;
    margin-left: 10px;
    box-shadow: 4px 4px 0px 0px  #34d399;
}

.action h1{
    margin-right: 20px;
}

.arrow-btn{
    margin-left: 20px;
    font-size: 60px;
    color: #34d399;
}