.edu-wrapper{
    padding: 40px 0px 40px 0px;
}

.action{
    display: flex;
    text-align: left;
    align-items: center;
}

.action-title{
    margin-left: 10px;
    font-size: 50px;
    color: #34d399;
}

.arrow-btn{
    margin-left: 10px;
    font-size: 50px;
}


.swiper-container{
    padding: 10px;
    height: 500px;
}

.swiper{
    height: 540px;
}

.swiperSlide{
    display: flex !important;
    flex-direction: column;
    height: 90% !important;
    border: solid 2px black;
    border-radius: 10px;
    box-shadow: 4px 4px 0px 0px  #34d399;
    background-color: #cbd5e1;
    color: black;
    padding-left: 20px;
    padding-right: 20px;
}

.swiperSlide p{
    font-weight: 600;
    text-align: start;
}

.swiperSlide h1{
    text-align: start;
}

.swiperSlide h2{
    text-align: start;
}



@media all and (max-width:480px){
    .action{
        margin-left: 20px;
        display: flex;
        flex-direction: column;
    }
    .action-title{
        margin-left: 0px;
        font-size: 50px;
        color: #34d399;
    }

    .arrow-btn{
        display: none;
    }
    .swiperSlide h1{
        margin-bottom: 0;
    }

    .swiperSlide h2 {
        margin-bottom: 0;
    }
}

  
@media all and (max-width:768px){

    .swiper-container{
        overflow: hidden;
        width: 90vw !important;
    }
    .swiper-slide{
        width: 80vw !important;
        margin-left: 15px;
    }
    .swiperSlide{
        padding: 0px 10px 20px 10px;
        box-shadow: none;
    }
  }

  @media all and (max-width:1028px) and (min-width:481px){

    
  }