.edu-wrapper{
    padding: 40px 0px 40px 0px;
}

.edu-info{
    padding: 40px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.edu-dates{
    margin-top: -10px;
}

.edu-p{
    text-align: left;
}